<% layout('layouts/boilerplate') -%>
<h1 class="text-center"> Edit Campground </h1>
<div class="col-md-6 offset-3">
  <form action="/campgrounds/<%=campground.id%>/update?_method=PUT" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Campground Name: </label>
      <input type="text" name="campground[title]" class="form-control" id="title" value="<%=campground.title%>" required>
      <div class="invalid-feedback">
        Required
      </div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location: </label>
      <input type="text" name="campground[location]" id="location" class="form-control" value="<%=campground.location%>" required>
      <div class="invalid-feedback">
        Required
      </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image Url: </label>
      <input type="text" name="campground[image]" id="image" class="form-control" value="<%= campground.image %>" required>
      <div class="invalid-feedback">
        Required
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price: </label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="price">$</span>
        <input type="text" class="form-control" id="price" name='campground[price]' placeholder="0.00" aria-label="price" value="<%= campground.price %>" required> 
      </div>
      <div class="invalid-feedback">
        Required
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description: </label>
      <textarea name="campground[description]" id="description" class="form-control" required><%= campground.description %></textarea>
      <div class="invalid-feedback">
        Required
      </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
  <a href="/campgrounds">Back to index</a>
</div>

